h2{
    color: blue;
}

button{
    background-color: rgb(82, 82, 232);
    border-radius: 2px;
}

input{
    width: 250px;
}

label{
    color: blue;
}

div{
    border: 2px solid blue;
    width: 350px;
    height: 220px;
}

form{
    padding-left: 30px;
}